nav{
    display: inline-block;
    vertical-align: top;
    display:flex;
    margin-bottom: 0;   
    margin-top: 0;
    font-weight: bold;
    justify-content: space-between;
}
header a{
    padding:0;
    font-size: large;
    color:white;
  
    text-decoration: none;
    position: relative;
}
.under{
    height:17px;
}

.under::before {
    /* Create a pseudo-element for the underline */
    content: '';
    /* Position the pseudo-element absolutely at the bottom left */
    position: absolute;
    left: 0;
    bottom: -8px;
    /* Set initial width to 0, so it starts from the left */
    width: 0;
    /* Height and color of the underline */
    height: 3px; /* Adjust as needed */
    background-color: white; /* Adjust color as needed */
    /* Transition for the width property */
    transition: width 0.5s ease;
}

.under:hover::before {
    /* Expand the width to the right on hover */
    width: 100%;
}

.partofnav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#nav1{
    width:33%;
}
#nav2{
    width:16%;
}
#white{
    background-color: rgba(241, 239, 239, 0.918);
    color:rgb(40, 61, 59);
    height:26px;
    border-radius: 8px;
    padding:3px 18px;
}
#narrow{
    width:22%;
}
#narrow:hover{
    text-decoration: none;
}