.add{
    display: flex;
}
.add p{
    font-weight: bold;
} 
article{
    width:40%;
    height:40%;
}
#availability{
   
    width:34.5%;
    height:90%;
    padding: 20px;
    padding-bottom: 43px;
}

#availability h3{
   margin: 0;
}
#availability img{
padding-bottom:0;
}

body{
    margin:2% 5.5%;
    font-family: raleway;
    background: linear-gradient(to bottom, rgb(129, 130, 130), rgb(138, 166, 169));
    color:white;
}
#book-return-rate p{
margin:0;
}

#book-return-rate{
    width:52.5%;
}
#borrowing-trend{
    display:flex;
    height:40%;
}
#borrowing-trend h3{
    margin-bottom:10px;
}
#borrowing-trend p{
    margin:0;
}

#borrow-and-rest{

    width:60%;
    height:104%;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}

#category-continer{
    margin:0px auto;
    display:flex;
    width:1050px;
    height:27vh;
    border-radius: 18px;
}
#category{
    width:250px;
}
#category h3{
    font-size: x-large;
}
#categraph{
    width:65%;
    display: flex;
}
#circle-thing{
    display: flex;
    align-items: center;
    background-color:white;
  
    padding: 21px;
    border-radius: 18px;
}

.common{
    padding:25px;
    background-color: white;
    color:black;
    border-radius: 18px;
}
#except-h2{
    display: flex;
    justify-content: space-between;
    height: auto;
}
.firstimg{
    display: inline-block;
    margin-top: 120px;
    width: 100%;
    height:100%;
}
.flexy{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
h1{
    font-size: 60px;
    margin-bottom: 20px;
}
h2{
    text-align: center;
    font-size: 40px;
}
h4{
    
    margin: 10px 0;
}
header{
    height:100vh;
    background-image: url('images/Binary Kit/Binary_black_012.png');
    background-size: cover;
    background-position: center;
}
.hero{
    margin-top: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.hero article p{
    margin-top: 0;
    font-size: 25px;
}
.hero article input{
    margin-top: 65px;
    width:450px;
    height:40px;
    border-radius: 7px;
    box-shadow: none;
    text-indent: 15px;
    font-size: 20px;
    border: none;
    outline: none;
}
#imgs{
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: center;
}
input::placeholder{
    font-size: 20px;
    font-family: raleway;
    text-indent: 15px;
}
.infographics{
    margin-top: 0;
    
}
.infographics h3{
    margin:0;
}
.line{
    margin:10px;
    width:2px;
    height:100%;
    background-color: rgba(0, 0, 0, 0.795);
}

#return-and-circle{
    display:flex;
    justify-content: space-between;
    height:45%;
    width:100%;
}
#simple-rules h3{
    text-align: center;
}

.subjects{
    font-weight: bold;
}
.subjects h3{
font-size: xx-large;
}
#the-rest-container{
    margin:20px auto;
    display:flex;
    justify-content: space-between;
    width:1100px;
    height:72.3vh;
}
#the-rest-container h3{
    font-size: x-large;
}
.tiny-ones{
    display:flex;
    justify-content: space-between;
}
.tiny-ones h4{
    margin:0;
}