.acommons {
    width: 31.2%;
    height: 500px;
    padding: 10;
    background-color: white;
    color: black;
    border-radius: 18px;
    overflow: hidden;
}

.add {
    display: flex;
}

.add p {
    font-weight: bold;
}

article {
    width: 40%;
    height: 40%;
}

#availability {

    width: 34.5%;
    height: 90%;
    padding: 20px;
    padding-bottom: 43px;
}

#availability h3 {
    margin: 0;
}

#availability img {
    padding-bottom: 0;
}

.background {
    width: 100%;
    height: 79.5%;
    justify-content: center;
    background-image: url("../images/stacked-waves-haikei.svg"), url("../images/wave-haikei.svg");
    background-position: top, bottom;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    margin: auto;
    /* Adjust as necessary */
}

.background h3 {
    margin-top: 45px;
    font-size: x-large;
}

body {
    margin: 0;
    font-family: raleway;
    background-image: url(../Images/blob-scatter-haikei.svg);
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
}

#book-return-rate p {
    margin: 0;
}

#book-return-rate {
    width: 52.5%;
}

#borrowing-trend {
    display: flex;
    height: 40%;
}

#borrowing-trend h3 {
    margin-bottom: 10px;
}

#borrowing-trend p {
    margin: 0;
}

#borrow-and-rest {

    width: 60%;
    height: 104%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#button {
    display: flex;
    justify-content: center;
}


#category-continer {
    margin: 0px auto;
    display: flex;
    width: 1050px;
    height: 27vh;
    border-radius: 18px;
}

#category {
    width: 250px;
}

#category h3 {
    font-size: x-large;
}

#categraph {
    width: 65%;
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle-thing {
    display: flex;
    align-items: center;
    background-color: white;

    padding: 21px;
    border-radius: 18px;
}
   

.common {
    
    padding: 25px;
    background-color: white;
    color: black;
    border-radius: 18px;
}

#cominp1{
    padding-top: 0;
    margin-top: 0;
}
#cominp3{
    margin-top: 0;
    height:10rem;
    padding-top: 10px;
    text-align: left;
    vertical-align: top;
}
#contact-us{
    width:82%;
    margin:0 auto;
    padding-bottom: 120px;
    
    background-size: 625px;
    background-image: url("../Images/Binary Kit/Black/Binary_black_011.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#contact-us iframe{
    border-radius: 15px;
}
#contact-us button{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: transparent;
    outline: none;
    border: 2px white solid;
    width:385px;
    height:53px;
    border-radius: 8px;
    margin:0 40px;
    transition: linear 0.4s;
}
#contact-us button:hover{
    background-color: white;
    color: rgba(0, 0, 0, 0.829);
}
#except-h2 {
    display: flex;
    justify-content: space-between;
    height: auto;
}
#first-button {
    background: url("../Images/cloudy-sky.jpg");
    background-size: contain;
    background-position:center;
    background-attachment:fixed;
    border: 2px solid white;
    font-size: 24px;
    border-radius: 9px;
    font-weight: bold;
    color: white;
    width: 190px;
    height: 52px;
    margin-bottom: 100px;
    cursor:pointer;
}

#first-button:hover {
    background-image: none;
    color: rgb(51, 51, 51);
    background-color: white;
}
#first-foot{
    width:30%;
}
.firstimg {
    display: inline-block;
    margin-top: 92.5px;
    width: 100%;
    height: 100%;
}

.flexy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer{
    padding:10px;
    height:100vh;
    background-color:rgb(6, 9, 39) ;
    background-size: 625px;
    background-image: url("../Images/Binary Kit/Black/Binary_black_011.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
footer a {
    text-decoration: none;
    color:white;
}
footer p{
    margin:0;
}
#footer-text{
    padding:0 66px;
    display:flex;
    justify-content: space-between;
}
footer ul{
    font-size: 0.8rem;
    list-style: none;
    padding:0;
    margin:0;
}

#gradient {
    margin: 0;
    background: linear-gradient(rgba(129, 129, 128,1), rgba(139, 167, 169,0));
    /* opacity: 0.5; */
    /* background-image: url(../Images/blob-scatter-haikei.svg);
    background-repeat: no-repeat;
    background-size:cover; */
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-size: 41px;
}

h4 {

    margin: 10px 0;
}
h5{
    font-size: 1.2rem;
    margin:0;
    padding-bottom: 20px;
}
header {

    margin: 0 5.5% 2% 5.5% ;
    margin-bottom: 0;
    padding-top: 27px;
    background-size: 625px;
    background-position: center;
    background-image: url("../images/Binary Kit/Black/Binary_black_012.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.hero {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hero article p {
    margin-top: 0;
    padding:10px 0;
    font-size: 24px;
}

.hero article {
    padding-top: 33px;
}
.hero article input {
    margin-top: 62px;
    width: 478px;
    height: 40px;
    border-radius: 7px;
    box-shadow: none;
    text-indent: 15px;
    font-size: 20px;
    border: none;
    outline: none;
}

#imgs {
    padding:0;
    display: flex;
    justify-content: center;
}
input{
    display:block;
}
input::placeholder {
    font-size: 16.9px;
    font-family: raleway;
}
.inpp::placeholder {
    font-size: 13px;
    font-family: raleway;
    font-weight:600;
    
}
#inputs{
    margin:0;
    padding:0;
}
.inpp{
    border: none;
    outline: none;
    margin:20px 40px;
    border-radius: 10px;
    width:380px;
    height:50px;
    text-indent: 14px;

   
}
.infographics {
    margin-top: 0;
    padding-bottom: 100px;
    background-image: url("../images/Binary Kit/Black/Binary_black_001.png");
    background-size: 625px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    background-attachment: fixed;
 


}

.infographics h3 {
    margin: 0;
}

.line {
    margin: 10px;
    width: 2px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.795);
}
#links{
    width:60%;
    margin:0 60px;
    display:grid;
    grid-template-columns: auto auto;
    column-gap: 80px;
}
#links a{
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.836);
    font-weight: 700;
    text-decoration: none;
}
#links div{
        padding:8px;

}
#main-section{
    display:flex;
    justify-content: space-between;
}
.margin {
    margin: auto;
}
#map{
    
    border: 20px solid rgba(255,255,255,0.2) ;
    border-radius: 30px;
    height:460px;
}
.padd {
    padding: 20px;
}

#return-and-circle {
    display: flex;
    justify-content: space-between;
    height: 45%;
    width: 100%;
}

section {
    margin: 0;
}

#simple-rules {
    background-image: url("../images/Binary Kit/Black/Binary_black_002.png");
    background-size: 625px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    background-attachment: fixed;
}

#simpler-rules {

    margin: auto;
    margin-bottom: 100px;
    width: 960px;
    display: flex;
    justify-content: space-between;
}


#simple-rules img {
    padding-top: 25px;
    width: 180px;
    height: 180px;

}

.social-icons{
    display:flex;
    align-items: center;

}
.social-icons i {
    padding:10px;
}
.social-icons svg{
    padding-right: 10px;
    width:32px;
    height:32px;
    color:#283D3B;
}
.subjects {
    font-weight: bold;
}

.subjects h3 {
    font-size: xx-large;
}

#the-rest-container {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    width: 1100px;
    height: 72.3vh;
}

#the-rest-container h3 {
    font-size: x-large;
}

.tiny-ones {
    display: flex;
    justify-content: space-between;
}

.tiny-ones h4 {
    margin: 0;
}
#video{
    width:57.2%;
    height: 71.3%;
    padding-top: 5px;
    margin:20px auto;
    text-align: center;
    border-radius: 22px;
    
    background-color: rgba(158, 151, 151, 0.3);
    
}
footer iframe{
    margin:auto;
    border-radius: 8%;
    padding:0;
}